/* Copyright (C) 2019 Stephan Kreutzer
 *
 * This file is part of comments_transformator_1.
 *
 * comments_transformator_1 is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 or any later
 * version of the license, as published by the Free Software Foundation.
 *
 * comments_transformator_1 is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with comments_transformator_1. If not, see <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: sans-serif;
}

.comment-history-entry
{
    border: 1px solid #000000;
    padding: 5px;
    margin: 5px;
}

.comment-reference
{
    color: #E63900;
}

.comment-reference-replying-to
{
    color: #E63900;
}

.index-link-top
{
    text-align: center;
}

.index-link-bottom
{
    text-align: center;
}
